.gym-img-background{
    width: 100%;
    background-attachment: fixed;
}
.ciao{
    position: relative;
    top:10px;
    height: 100px;
    padding-top: 450px;
    padding-left: 20px;
    background-color: transparent;
}
.home{
    padding-top: 40px !important;
    height: 200px;
}
.card1{
    width: 20rem;
}