.gym-img-background{
    width: 100%;
    background-attachment: fixed;
}
.home{
    padding-top: 40px !important;
    height: 200px;
}

.container-Card{
    position: relative;
    top:10px;
    height: 100px;
    padding-top: 430px;
    padding-left: 20px;
    background-color: transparent;

}